<app-hero-home></app-hero-home>
<h1 class="h1 text-center">Our Product List</h1>
<div class="container text-center">
    <div class="row row-cols-3">
        <div class="col" *ngFor="let pValue of ourProduct; index as i">
            <div class="card h-100">
                <img src="../../assets/images/{{pValue.pic }}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column gx-3 gy-3">
                    <h5 class="card-title">{{ pValue.name }}</h5>
                    <p class="card-text">{{ pValue.price }}€</p>
                    <a routerLink="/product/{{ i }}" class="btn btnCard mt-auto">more Details</a>
                </div>
            </div>
        </div>
    </div>
</div>